.how-work {

    .minus {
        margin-bottom: -30px;
    }

    .row >[class*="col-6"] {

        @media screen  and (max-width: 480px) { 
            width: 100% !important;
        }
    }

    &__item {
        height: calc(100% - 30px);
        box-shadow: 0px 4px 9px 0px #0000003b;

        p {
            max-width: 330px;
            margin-left: auto;
            color: $dark_black;
            margin-right: auto;
        }

        a {
            font-weight: 700;
            color: $dark_black;

            &:hover, &:focus {
                color: $primary;
            }
        }
    }
}