/*** video-popup  **/
.mfp-move-from-top {
	@include transition(initial);

	&.mfp-bg {
		opacity: 0.7 !important;
		background-color: $black;
	}

	.mfp-container {
		padding: 0;

		.mfp-content {
			height: 100%;
			vertical-align: middle; 
		}
	}
  
  /* start state */
	.mfp-with-anim {
		opacity: 0;
		@include transition(all 0.5s);
		@include transform(translateY(300px));
	}
  
	&.mfp-bg {
		opacity: 0;
		@include transition(all 0.5s);
	}
  
	/* animate in */
	&.mfp-ready {

		.mfp-with-anim {
			opacity: 1;
			@include transform(translateY(0));
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}
  
	/* animate out */
	&.mfp-removing {

		.mfp-with-anim {
		  	transform: translateY(100px);
		  	opacity: 0;
		}

		&.mfp-bg {
		  	opacity: 0;
		}
	}

	.mfp-container {
		right: 0;
		width: 100%;
		max-width: 1212px;
		margin-left: auto;
		margin-right: auto;

		.mfp-content {
			height: auto;
			padding: 0 15px;

			.mfp-figure {

				&:after {
					box-shadow: none;
					background: transparent;
				}

				.mfp-close {
					opacity: 1;
					color: $white;
					font-size: 16px;
					cursor: pointer;
					line-height: 20px;
					text-transform: uppercase;
					@include transition(all 0.3s ease);

					span {
						font-size: 13px;
						margin-left: 7px;
						vertical-align: 1px;
						display: inline-block;
					}

					&:hover, &:focus {
						color: darken($white, 10%);
					}
				}

				.mfp-bottom-bar {

					.mfp-title {
						color: red;
						font-size: 16px;
						font-weight: 400;
						line-height: 24px;
					}

					.mfp-counter {
						color: red;
						font-size: 16px;
						font-weight: 400;
						line-height: 24px;
					}
				}
			}
		}

		.mfp-arrow {
			opacity: 1;
			font-size: 18px;

			&:before {
				border: 0;
				color: red;
				@include transition(all 0.3s);
				font-family: "corryassociates";
			}

			&:after {
				content: none;
			}

			&.mfp-arrow-left {

				&:before {
					content: "";
				}

				&:hover {

					&:before {
						color: $primary;
						@include transform(translateX(-10px)); 
					}
				}
			}

			&.mfp-arrow-right {

				&:before {
					content: "î Ÿ";
				}

				&:hover {

					&:before {
						color: $primary;
						@include transform(translateX(10px)); 
					}
				}
			}
		}

		.mfp-bottom-bar {
			margin-top: -20px;
			
			.mfp-title {
				color: $primary;
			}

			.mfp-counter {
				color: $primary;
			}
		}
	}

	.mfp-iframe-scaler {
		overflow: inherit;
		vertical-align: middle;

		.mfp-iframe {
			padding: 0;
			margin: 0;
			background: $white;
		}

		.mfp-close {
			opacity: 1;
			color: $white;
			font-size: 35px;
			cursor: pointer;
			line-height: 20px;
			text-transform: uppercase;
			font-family: 'FontAwesome';
			@include transition(all 0.3s ease); 

			&:hover, &:focus {
				color: darken($white, 10%);
			}
		}
	}
}